/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.signup-image {
    height: 99vh;
    width: auto;
    margin-left: 70px;
    position: relative;
}

.credit {
    position: absolute;
    left: 5%;
    top: 10%;
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}


.container {
    display: flex;

}

.right-container {
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 100%;
}

.right-container > p {
    margin-top: -80px;
    justify-items: flex-start;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10%;
    font-size: 1.5rem;
    color: #2C2E59;
}


form {
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #7a3ffa;
    padding: 50px;
    border: 5px solid #A480F2;

}

legend {
    color: #7a3ffa;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.rows {

    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.row-one, .row-two {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="confpass"] {
    border: 1px solid #7a3ffa;
    height: 25px;
    width: auto;
    margin-bottom: 20px;
}

input::placeholder{
    color: grey;
}

input:focus {
    border: 1px solid #2483e9;
    box-shadow: 0 5px 15px -10px  rgb(111, 111, 111);
    outline: none;
}


button {
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    color: white;
    background-color: #2C2E59;
    padding: 12px 40px 12px 40px;
    border: 1px solid #A480F2;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: -3px;
}

.below-button {
    margin-top: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}